<settings>
<setting propertyKey="@Properties.startingTimeSetting" title="@Strings.startingTimeSetting">
	<settingConfig type="numeric" min="1" max="9999999" required="true"/>
</setting>
<setting propertyKey="@Properties.endMessage" title="@Strings.endMessage">
	<settingConfig type="alphaNumeric" required="true"/>
</setting>
<setting propertyKey="@Properties.pauseSetting" title="@Strings.pauseSetting">
	<settingConfig type="boolean"/>
</setting>
<setting propertyKey="@Properties.compactDisplay" title="@Strings.compactDisplay">
	<settingConfig type="boolean"/>
</setting>
</settings>
